<h1>Discover Movies<h1>
<br>
<div id="title">
  <%= form_with url: user_movies_path(@user), method: :get, data: {turbo: false}, local: true do |form| %>
    <%= form.label :search, 'Search by Movie Title: ' %>
    <%= form.text_field :search, class: "form-control"  %>
    <%= form.submit 'Search', class: "btn btn-primary"  %>
  <% end %>
</div>
<br>
<%= button_to "Discover Top Rated Movies", user_movies_path(@user), method: :get %>